<html>
<head>
<meta charset="UTF-8">
<title>Maintenance Receipt</title>
</head>
<body style="margin:0; padding:0;">
<div style="width:1000px;height:650px;position:relative;">

<img src="$bgImage"
     style="width:100%;height:auto;position:absolute;top:0;left:0;z-index:1;">

<div style="position:absolute;top:231px;left:153px;font-size:27px;font-weight:800;color:#b21913;z-index:2;">
{$data['receipt_no']}
</div>

<div style="position:absolute;top:247px;left:711px;font-size:19px;font-weight:800;color:#b21913;z-index:2;">
{$data['date']}
</div>

<div style="position:absolute;top:351px;left:120px;font-size:20px;font-weight:600;z-index:2;">
{$data['name']}
</div>

<div style="position:absolute;top:441px;left:720px;font-size:19px;font-weight:800;z-index:2;">
{$data['month']}
</div>

<div style="position:absolute;top:476px;left:165px;font-size:19px;font-weight:800;z-index:2;">
{$data['flat']}
</div>

<div style="position:absolute;top:472px;left:372px;font-size:23px;font-weight:800;z-index:2;">
{$data['amount']}
</div>

<div style="position:absolute;top:539px;left:241px;font-weight:800;z-index:2;width:500px;">
{$data['amount_words']}
</div>

</div>
</body>
</html>